.cardContainer {
  display: flex;
  flex-direction: column;
  background-color: #3bb740;
  width: 30%;
  border-radius: 16px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.6s ease;
}

.cardContainer.show {
  opacity: 1;
  transform: translateY(0);
}
.cardContainer:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.categoryImage {
  width: 100%;
  padding: 10px 5px;
  border-radius: 12px;
  height: 230px;
}

.categoryTitle {
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0em;
  color: white;
  text-align: center;
  height: 40px;
}

.body {
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 10px;
  gap: 5px;
}

.body span {
  font-family: Inter;
  font-size: 13px;
  font-weight: 600;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
}

.text {
  font-family: Inter;
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  margin-left: 5%;
  margin-bottom: 3%;
  color: white;
}
@media only screen and (max-width: 768px) {
  .cardContainer {
    width: 100%;
  }

  .categoryImage {
    height: auto;
  }

  .categoryTitle {
    font-size: 14px;
    height: auto;
  }

  .body {
    padding: 10px;
    gap: 3px;
  }

  .body span,
  .text {
    font-size: 12px;
  }
}
