.homeContainer {
  position: relative;
  background-image: url("../../assets/HomeBackground.png");
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir completamente el contenedor */
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.logo {
  width: 475px;
  height: 124px;
  margin-bottom: 200px;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 20%;
}

.newButton,
.historyButton {
  padding: 16px 0;
  border-radius: 16px;
  font-size: 18px;
  width: 365px;
  height: 56px;
  transition: background 0.6s ease, color 0.6s ease;
}

.newButton {
  background: linear-gradient(to bottom, #22aeff, #0288d1, #005da5);
  color: white;
  border: none;
  cursor: pointer;
}

.newButton:hover {
  background: linear-gradient(to bottom, #005da5, #0288d1, #22aeff);
  color: white;
}

.historyButton {
  color: white;
  background-color: #002c5b;
  cursor: pointer;
  border: none;
}

.historyButton:hover {
  background-color: #004080;
}

@media only screen and (max-width: 768px) {
  .homeContainer {
    height: auto;
    padding: 20px;
  }

  .logo {
    width: 300px;
    height: 78px;
    margin-bottom: 100px;
  }

  .buttonContainer {
    flex-direction: column;
    gap: 20px;
    width: 50%;
    justify-content: center;
  }

  .newButton,
  .historyButton {
    width: 100%;
    font-size: 14px;
    padding: 0px;
    height: 50px;
  }
}
