.mainContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 20px 0px;
  gap: 40px;
  background-color: #3bb740;
}

.footerImage {
  width: 189px;
  height: 83px;
}

.textContainer {
  display: flex;
  flex-direction: column;
}

.title {
  color: #212121;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0em;
}

.text {
  color: #212121;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  letter-spacing: 0em;
}
