.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  height: auto;
  width: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  width: 90%;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  height: 20%;
}

.title {
  color: #212121;
  font-size: 51px;
  font-weight: 400;
  line-height: 62px;
  letter-spacing: 0em;
}

.body {
  display: flex;
  width: 90%;
  height: 80%;
  margin-top: 3%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 50px 0px;
}

.rightContainer {
  width: 100%;
  padding: 20px;
  display: FLEX;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.searchBarContainer {
  width: 60%;
  height: auto;
  display: flex;
  justify-content: center;
}

.cardsContainer {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5%;
  width: 100%;
}
.paginationContainer {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
