.mainContainer {
  display: flex;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding-bottom: 50px;
}

.sidebarContainer {
  width: 25%;
  height: 100%;
  background-color: #f2f7fc;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.renderContainer {
  width: 75%;
  height: 100%;
  min-height: 100vh;
}

.logOutContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 15px 50px;
}
.header {
  width: 100%;
  height: 20%;
}

.header span {
  font-size: 32px;
  font-weight: 400;
  line-height: 38.73px;
}

.body {
  width: 100%;
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.body span {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
}

.logOutButton {
  margin-top: 30px;
  background: linear-gradient(180deg, #22aeff 0%, #0288d1 47.97%, #005da5 100%);
  border: none;
  border-radius: 16px;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
}

.logOutButton:hover {
  background: #1274bb;
}

@media only screen and (max-width: 768px) {
  .mainContainer {
    flex-direction: column;
  }

  .sidebarContainer {
    width: 100%;
    padding: 0px;
    min-height: 200px;
  }

  .renderContainer {
    width: 100%;
  }

  .logOutContainer {
    margin: 15px;
  }

  .header {
    display: flex;
    justify-content: center;
  }
  .header span {
    font-size: 24px;
  }

  .body span {
    font-size: 16px;
  }

  .logOutButton {
    margin-top: 20px;
    padding: 8px 16px;
    font-size: 16px;
  }
}
